<h1> <%=  @place['name'] %> </h1>

<p> </p>

<% for post in @post %>
    
    <p> 
        <h3> <%= post["title"] %>  </h3>
        <p> <%= post["posted_on"] %> </p>
        <p> <%= post["description"] %> </p>
        <br> 

    </p>
    

<% end %>

<p> 
<p> 
    <a href="/posts/new?id=<%= params["id"] %>"> <b>New Post</b> </a>
</p>

</p>

<p> 
<p> 
    <a href="/places/"> <b>Back to Places</b> </a>
</p>

</p>
